.un {
  --i: 1;
}
.deux {
  --i: 2;
}
.trois {
  --i: 3;
}
.quatre {
  --i: 4;
}
.cinq {
  --i: 5;
}
.six {
  --i: 6;
}
.sept {
  --i: 7;
}
.huit {
  --i: 8;
}
.pro-work-box-container {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pro-work-box {
  position: relative;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  animation: animate 20s linear infinite;
}
@keyframes animate {
  0% {
    transform: perspective(1000px) rotateY(0deg);
  }
  100% {
    transform: perspective(1000px) rotateY(360deg);
  }
}
.pro-work-box span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
  -webkit-box-reflect: below 0px
    linear-gradient(transparent, transparent, #0004);
}
.pro-work-box span img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
